.btn {
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #535353;
    margin-right: 4px;

    &:hover {
        cursor: pointer;
        background-color: #b4b4b4;
    }
}
