body {
    background-color: rgb(255, 241, 220);
}

.keyboardContainer,
.keyboardPanel {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#keyboardPanel {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.keyboardKey {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6e40;
    font-size: 1.2em;
    color: #f5f0e1;
    text-align: center;
}

.keyboardKey:hover {
    cursor: pointer;
}

.keyboardKey:active {
    background-color: #ffc13b;
}

#layerContainer{
    margin-left: auto;
    margin-right: 115px;    
    display: grid;
    flex-direction: row;
    justify-content: center;
}

.record-btn{
    background-color: #ff6e40;
    margin: 5px 15px;
    padding: 25px;
    border: 0px;
    color: white;
}

.stop-recording-btn{
    border: 0px;
    margin: 5px 15px;
    padding: 25px;
}

.play-btn{
    background-color: #ff6e40;
    border: 0px;
    margin: 5px 15px;
    padding: 25px;
    color: white;
}

.record-btn:hover {
    cursor: pointer;
}

.record-btn:active {
    background-color: #ffc13b;
}

.stop-recording-btn:hover {
    cursor: pointer;
}

.stop-recording-btn:active {
    background-color: #c2c2c2;
}

.play-btn:hover {
    cursor: pointer;
}

.play-btn:active {
    background-color: #ffc13b;
}